.secList{
    display: block;
    width: 60%;
    height: auto;
    min-height: 400px;
    margin: auto;
}

.carrito{
    width: 10%;
    display: none;
    height: 70%;
    position: fixed;
    right: 0px;
    top: 14%;
    border-radius: 20px 0 0 20px;
    background-color: rgb(255, 213, 79, 0.5);     
    animation: dispCarrito 1s ease; 
    animation-direction: normal;  
    overflow: hidden;  
}


@keyframes dispCarrito {
    0%{width: 0%;}
    100%{width: 10%;}
}


.divCarrito{  
    
    width: 140px;         
    height: 60px; 
    display: flex;
    justify-content: start;    
    font-size: 30px;
    margin-top: 30px;
    margin-left: 110px;
    color: orange; 
    position: relative;    
    animation: divCarrito 1s ease;
    animation-fill-mode:forwards;
    

}

 
@keyframes divCarrito{
    0%{left: 0px;}  
    100%{left: 0px}
} 


.prodCarrito{        
    height: 65%;
    margin-top: 20px;
    position: relative; 
    overflow-y: scroll;
    overflow-x: hidden;
    animation: prodCarrito 2s ease;
    animation-fill-mode: forwards; 
    padding-right: 25px;  
    padding-left: 12px;  
    box-sizing: content-box;
}

@keyframes prodCarrito{
    0%{width: 250px; left: 250px;}
    100%{width: 250px; left: 0px;}
}


.titleCarrito{  
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;    
    animation: titleCarrito 1.5s ease;
    animation-fill-mode:forwards;
}

@keyframes titleCarrito{
    0%{width: 200px; left: 250px;}
    100%{width:200px; left: 0px;}
}




.infoCarrito{
    display: none;
    position: relative;
    right: 0px;
    animation: desplazamiento 1s ease;
}

@keyframes desplazamiento{
    0%{right: -250px;} 
    100%{right: 0px;}
} 

.totalCarrito{
    border-top: 2px solid grey;
    position: relative;
    /* bottom: 120px;     */
    max-height: 40px;
    margin-left: 2px;
    margin-top: 20px;
    text-align: center;
    animation: totalCarrito 2.5s ease;
    animation-fill-mode: forwards;
}

@keyframes totalCarrito{
    0%{width: 230px; left: 250px;}
    100%{width: 230px; left: 5%;}
}


.h6Carrito{
    margin-top: 10px;
    max-height: 40px;
    flex-wrap: nowrap;
}

.checkCarrito{  
    
    height: 30px;    
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: orangered;
    position: relative;
    margin-top: 30px;
    /* bottom: 90px; */
    animation: checkCarrito 3s ease;
    animation-fill-mode: forwards;
}

@keyframes checkCarrito{
    0%{width: 260px; left: 250px;}
    100%{width: 260px; left: 0px;}
}

.closeCarrito{
    height: 10px;
    font-size: 20px;
    color: orangered;
    display: flex;
    justify-content: end;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}


.iconClose:hover{
    cursor: pointer;
}

.checkIcon:hover{
    cursor: pointer;
}

  #iconCarrito{

    position: absolute;
    left: 150px;   
    animation: iconCarrito 1s ease; 
    animation-fill-mode: forwards;   
} 

@keyframes iconCarrito{
    0%{left: 150px;}
    100%{left: 0px;}
}



.secBtnPedidos{

    width: 70%;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btnPedidos{
    width: 10%;
    height: auto;
    min-height: 50px;
    margin: auto;
    border-radius: 10px; 
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;
    font-weight: 500;
    transition: 1s;
    border: none;
    background-color: white;
    opacity: 100%;     
    color: orange;
    transition: 0.5s;
}


.btnPedidos:hover{
    cursor: auto;
}



.divisorPedidos{
    border: 1px solid orange;
    width: 40%;
    height: 2px;
}

.opcPedidos{
    width: 1600px;
    height: 50px;    
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.opcPedidos1,.opcPedidos3,.opcPedidos5{
    border: 1px solid orange;
    height: 50px;
    border-bottom: none;
    margin-top: 24px;
}



.opcPedidos2,.opcPedidos4{
    width: 11%;
    height: auto;
    min-height: 50px;
    border-radius: 10px;
    border:1px solid grey;
    background-color: white;
    font-family: "Red Hat Display", sans-serif;
    font-size: 18px;
}


.opcPedidos2{
    border: 2px solid orange;
    font-style: italic;
}



.opcPedidos1,.opcPedidos5{
    width: 33%;
    height: 100px;
   
}

.opcPedidos3{
    width: 11%;
}

.opcPedidos1,.opcPedidos3{
    border-right: none;
}

.opcPedidos3,.opcPedidos5{
    border-left: none;
}

.opcPedidos1{
    border-radius: 10px 0 0 0;
}

.opcPedidos5{
    border-radius: 0 10px 0 0;
}

.containerOpc{
    margin-top: 50px;
    display: block;
    transition: 1s;
    
    
}

.containerMarcas{
    border: 1px solid orange;
    width: 1600px;
    height: 420px;
    margin: auto;
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin-bottom: 200px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}  


.containerCat{
    border: 1px solid orange;
    width: 1600px;
    height: 420px;
    margin: auto;
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin-bottom: 200px;
    padding-top: 50px;
    display: none; 

    /* display: flex; */
    justify-content: center;
    flex-wrap: wrap;
    
}

.divCat{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.btnCat{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(255, 165, 0, 0.1);
    font-family: "Red Hat Display", sans-serif;
    padding-top: 10px;
    margin-top: -20px;  
    border: 1px solid orange;
    transition: 0.5s;
}

.btnCat:hover{
    transition: 0.5s;
    background-color: rgb(255, 165, 0, 0.5);
}

.btnCerrar{
    
    width: 68%;
    height:30px;    
    display: flex;
    justify-content: end;
    margin: auto;
    font-size: 30px;

}

.iconCerrar{
    font-size: 100px;
    color: orange;
    transition: 0.5s;
}

.iconCerrar:hover{
    cursor: pointer;
    color: orangered;
    transition: 0.5s;
}

.secTitlesList{   
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: -120px;
    
}


.titlesList{
    width: 80%;
    text-align: center;
    font-weight: bold;
}

#tdTituloList1{    
    width: 8%;   
}

#tdTituloList2{
    width: 40%;    
}

#tdTituloList3{
    width: 21%;    
}

#tdTituloList4{
    width: 21%;   
}

#tdTituloList5{
    width: 21%;    
}





.secPagination{

    width: 1600px;
    height: 400px;
    margin: auto;
    margin-top: -40px;
    overflow: hidden;
}


#carouselExample{
    height: 100%;
    
}


#carouselInner{
    width: 100%;
    height: 400px;
    margin: auto;

    border-radius: 10px;
    
}

#flecha1{
    width: 100%;
    height: 50%;
    color: black;
    margin: auto;
    color: orangered;
}

#flecha2,#flecha3{
    width: 5%;
    height: 100px;
    margin-top: 130px;    
}

.carousel-item{
    transition: all 1s,
} 


.containerImgs{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 200px;     
}

.containerImg{
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
}

.imgMarcas:hover{
    cursor: pointer;
}

.popCompra{
    width: 80%;
    height: auto;
    
    display: none;
    margin: auto;
    margin-bottom: 100px;
}


#titleList{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}



.tableList{
    margin: auto;       
}


.tdConf1{
    border-bottom: 1px solid orange;
    text-align: center;
    width: 10%;
    
}

.tdConf2{
    border-bottom: 1px solid orange;
    text-align: center;
    width: 40%;
   
}

.tdConf3{
    border-bottom: 1px solid orange;
    text-align: center;
    width: 15%;
  
}

.tdConf4{
    border-bottom: 1px solid orange;
    text-align: center;
    width: 15%;
    
}

.tdConf5{
    border-bottom: 1px solid orange;
    text-align: center;
    width: 10%;
    
}

.tdConf6{
    border-bottom: 1px solid orange;
    text-align: center;
    width: 10%;
   
}


#tdTitlesList1, #tdTitlesList5, #tdTitlesList6{
    width: 10%;
}

#tdTitlesList2{
    width: 40%;
}

#tdTitlesList3, #tdTitlesList4{
    width: 15%;
}

#totalConf{
    width: 10%;
    height: 50px;
    margin: auto;
    border: 1px solid rgb(255, 165, 0);
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 165, 0, 0.1);
}

