.secPanel{
    width: 60%;
    height: 150px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}


.iconPanel{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: auto;
    margin-top: 20px;
    
    
}

.opcPanel{
    display: flex;
    justify-content: center;   
}

.grpPanel{    
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 10px;  
    /* color: #FFB900;  */
    color: #F59E0B;
    border: 2px solid #D97706;   
}

.grpPanel:hover{
    cursor: pointer;
}

.secProductos{
    display: none;
    width: 60%;
    height: 800px;
    margin: auto;
    min-height: 500px;
    margin-bottom: 100px;
    border-radius: 10px;    
}

.btnsProductos{
    
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.btnProd{
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    
}


#btnProd2{
    color: #FFAB00;
}

.formProductos{
    width: 50%; 
    height: 400px;
    margin: auto;
    margin-top: 40px;
    display: none;

}

.secDivisorProd{
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.divisorProd{
    border: 1px solid black;
    height: 30px;
    width: 33%;    
}


.catProd{
    width: 40%;
    display: flex;
    justify-content: center;
    margin: auto; 
}

.inputProd{
    width: 100%;
    background-color: #FEFCE8;
    border: 1px solid black;
    height: 30px;
    
}

#divisorProd1{
    border-right: none;
    border-bottom: none;
    border-radius: 10px 0 0 0;
}

#divisorProd2{
    border-left: none;
    border-bottom: none;
    border-radius: 0 10px 0 0;
}

.secFormProd{
    margin-bottom: 40px;
  
}



.subForm{
    border: none;
    margin: auto;
    width: 50px;
    height: 50px;
    margin-top: 0px;
    border-radius: 10px;
    background-color: white;
}

.contSubForm{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
   
}

.subForm:hover{
    color: #FFAB00;
}

.secListProd{
    display: block;
    width: 60%;
    height: auto;
    min-height: 400px;
    margin: auto;
    margin-top: 50px;
}

.mapProd{
    display: none;
    width: 100%;
    height: auto;
    margin-top: -250px;
}

.secBtnGuardar{
    width: 100%;
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 50px;
}

.btnGuardar{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #FFAB00;
    display: none;
}

.btnGuardar:hover{
    color: orangered;
}

.iconGuardar{
    animation-iteration-count: 1;
}

.popEliminar{
    border: 1px solid grey;
    width: 50%;
    height: 200px;
    display: none;
    text-align: center;
    margin: auto;
    margin-top: -200px;
    border-radius: 10px;
    padding-top: 30px;
}

.btnsEliminar{
    
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
}

.btnEliminar{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
}

.btnEliminar:hover{
    /* background-color: rgb(255, 187, 0); */
    background-color: rgb(255, 196, 0);
}

#phMarca{
    color: grey;
}

#btnsEditar{
    width: 60%;
    margin: auto;
}

.secEditar{
    display: none;
}

.iconMarca{
    font-size: 35px;
    margin-top: -10px;
}

.secMarcas{
    margin-top: 70px;
    width: 100%;
    height: 500px;
}

.secBtnMarca{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btnMarca{
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    border: none;    
}

.btnMarca:hover{
    color: #FFAB00;
    border-color: #FFAB00;
}


.secMarcas{
    display: none;
}


/* 
.formMarcas{
    height: 500px;
} */

.btnsEnviarMarca{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.secPopMarca{
    width: 100%;
    height: 400px;
    display: none;
    
}

#popMarca{
    display: block;
    margin-top: 0;
}



#popElimMarca{
    display: block;
    margin-top: 0px;
}

#secPopElimMarca{
    display: none;
}

#confElimMarca{
    margin-top: 0px;
    display: block;
}



.secPedidos{

    display: none;
    width: 60%;
    height: 800px;
    margin: auto;
    min-height: 500px;
    margin-bottom: 100px;
    border-radius: 10px; 
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    -ms-overflow-style: none;  
    scrollbar-width: none;       
}


.secPedidos::-webkit-scrollbar{
    display: none;
}


.tabPedidos1{   
    width: 60%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 20px;
    text-decoration: underline;
}

#numPedido1{
    width: 20%;
    text-align: center;
    
}

#nomPedido1{
    width: 50%;
    text-align: center;
}    

#totPedido1{
    width: 30%;
    text-align: center;
}

#grpPanel1{

    display: block;

}

.grpPanelIcon{
    color: red;
    font-size: 20px;
    height: 20px;
    width: 100%;
    position: relative;
    top: -15px;
    display: flex;
    justify-content: end;
}

#iconPanel1{
    margin-top: -5px;
}


#secPopPedido{
    margin-top: 250px;
}

#idFormMarcas{
    display: block;
}


#formEditar{
    display: block;
}

.busqFecha{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 30%;

}

.divFecha{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: end;

    margin: auto;
    margin-top: 50px;
}

#calendar{
    font-size: 30px;
}

#calendar:hover{
    cursor: pointer;
}


.hidden-date-input {
    position: absolute;
    opacity: 0;
    pointer-events: none; /* Evita que el usuario haga clic directamente */
    width: 0;
  }
  
  .date-picker-container {
    position: relative;
    border: none;
  }

  .calendar-icon{
    border: none;
    background-color: white;
  }

