.fondo{
  width: 80%;
  height: 350px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
  
}


.imgFondo{
  width: 100%;
  /* height: 430px; */
  height: 350px;
  margin: auto; 
  border-radius: 10px;
  background-repeat: no-repeat;
}

.logoFondo{
  position: relative;
  left: 10%;
  top:-460px;  
  width: 200px;
  height: 200px;
  background-image: url('./logo_Moranzoni3.png');
  
}

.header{
  height: 80px;
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.contact{
  display: flex;
  width: 20%;
  height: 70px;
  margin-right: 15%;
}

.contactoDiv{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContact{
  font-size: 40px;
  transition: 0.5s;
}

#iconContact1{
  font-size: 45px;

}

#iconContact2{
  font-size: 35px;
  
}

.iconContact:hover{
  cursor: pointer;

  transition: 0.5s;
}



