.tableList{
    width: 80%;
    height: 30px;
    
}

.tdList{
    border-bottom: 1px solid orange;
    text-align: center;
}

#tdList1{
    width:40%;
   
}

#tdList2{
    width: 21%;
    
}

#tdList3{
    width: 21%;
   
}

#tdList4{
    width: 8%;
    
}

#tdList5{
    width: 21%;
    
}

.btnsList{
    height: auto;
    width: 20%;
    display: flex;
    padding: 0 50px;
    border-bottom: 1px solid orange;
}

.filaList{
    display: flex;
    height: auto;
}

.btnList{
    border: 1px solid grey;
    width: 30px;
    height: 25px;
    margin: auto;
    transition: 0.5s;
    background-color: rgb(255, 165, 0, 0.3); 
    
}

#btnList1{
    border-radius: 7px 0 0 7px;
}


#btnList3{
    border-radius: 0 7px 7px 0;
}

#btnList2{
    background-color: white;
}

#btnList1:hover,#btnList3:hover{
    cursor: pointer;
    background-color: rgb(255, 165, 0, 0.6);
    transition: 0.5s;
}

.iconList{
    display: flex;
    margin: auto;
    margin-top: 3px;
}

.cantList{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    
}