.secPagination{
    width: 800px;
    height: 400px;
    margin: auto;
    border: 1px solid red;
    overflow: hidden;
    

}



.containerItems{   
    width: 1600px;
    height: 200px;
    display: flex;
    position: relative;
    right: 0%;
    transition: 2s;
    animation: items1 2s ease;
    animation-fill-mode: forwards;
}


@keyframes items1{
    100%{width: 1600px; right: 0%;}
}


.items1,.items2{
    width: 50%;
    display: flex;
}



.itemPage{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid red;
    transition: 2s;
}


.itemPage2{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 1px solid red;
    transition: 2s;
}


