.secPagination{
    width: 1600px;
    height: 500px;
    margin: auto;
    overflow: hidden;
}



.containerItems{   
    /* width: 1600px; */
    width: auto;
    height: 200px;
    display: flex;
    position: relative;
    left: 0%;
    transition: all 2s;    
    /* animation: items1 2s ease;
    animation-fill-mode: forwards; */
    /* transition: all 2s; */
}


/* @keyframes items1{
    100%{width: 1600px; right: 0%; transition: all 2s;}
    
} */


.items1,.items2,.items3{
    width: 100%;
    display: flex;
}



.itemPage{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid red;

}


.itemPage2{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 1px solid red;

}


.itemPage3{
    width: 200px;
    height: 200px;
    background-color: green;
    border: 1px solid red;

}

               
.containerMovilPag{
    border: 1px solid violet;
    position: relative;
    left: 0%; 
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    transition: all 2s;
    

    
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px 200px;
    grid-auto-flow: column;
    transition: all 2s; */
  
    
}

.containerNav1{

    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.pagMarcas{
    border: 1px solid red;
    width: 1200px;
    height: 500px;
    margin: auto;
    overflow:visible;
    margin-top: 150px;

}

.itemsMarcas{
    width: 100%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    justify-content: space-around;

}


.containerImgs{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 200px;
     
}

.containerImg{
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

#btnPag0{
    opacity: 60%;
}

#carouselExample{
    height: 100%;
    
}

#carouselInner{
    width: 90%;
    height: 500px;
    margin: auto;
    border: 1px solid orange;
    border-radius: 10px;
    
}

#flecha1{

    width: 100%;
    height: 50%;
    color: black;
    margin: auto;
    color: orangered;
}

#flecha{
    width: 5%;
    height: 100px;
    margin-top: 200px;
    
}

.carousel-item{
    transition: all 1s,
} 










  


